<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ mlx_label }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ mlx_server_bin }}</string>
        <string>launch</string>
        <string>--config</string>
        <string>{{ mlx_config_path }}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ mlx_log_dir }}/{{ mlx_label | replace('com.', '') | replace('.', '-') }}.log</string>

    <key>StandardErrorPath</key>
    <string>{{ mlx_log_dir }}/{{ mlx_label | replace('com.', '') | replace('.', '-') }}.log</string>

    <key>WorkingDirectory</key>
    <string>{{ ansible_env.HOME }}</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ mlx_venv_path }}/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
