<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ item.label }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ mlx_python_bin }}</string>
        <string>-m</string>
        <string>mlx_lm.server</string>
        <string>--model</string>
        <string>{{ item.model }}</string>
        <string>--port</string>
        <string>{{ item.port }}</string>
        <string>--host</string>
        <string>0.0.0.0</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ mlx_log_dir }}/{{ item.label | replace('com.', '') | replace('.', '-') }}.log</string>

    <key>StandardErrorPath</key>
    <string>{{ mlx_log_dir }}/{{ item.label | replace('com.', '') | replace('.', '-') }}.log</string>

    <key>WorkingDirectory</key>
    <string>{{ ansible_env.HOME }}</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ mlx_venv_path }}/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
